<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title> Resume </title>
    <link rel="stylesheet" href="{% static '/css/add_profile.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>

</head>
<body>   
</form>
    <div class="jumbotron text-center">
        <h1>Contact Me</h1>
        <p></p> 
    </div>
    <div class="main">
        <div class="colume4">
            <form class="create-form" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input">
                Name
                {{ form.first_name }} 
                {{ form.last_name }}
                <br>
                <br>
                Email
                {{ form.email }}
                Tel
                {{ form.tel }}
                <br>
                <br>
                Short Description
                <br>
                {{ form.short_description}}
                <br>
                <hr>
                <h3>or</h3>
                <br>
                <h5>Email: jirawadee.sa@ku.th<h5>
                <h5>Tel: 098-2624362</h5>
                <br>
                <br>
                <button id="submit-button" type="submit" value="POST"> SUBMIT </button>
                </div>
            
            </form>
        </div>
    </div> 
</body>

</html>
 