<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title> Resume </title>
    <link rel="stylesheet" href="{% static '/css/add_profile.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

</head>
<body>   
</form>
    <div class="main">
        <div class="create-container">
            <div class="wrap-container">
                <form class="create-form" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="text-title">Create Resume</span>
                    <hr class="line">
                    <div class="input">
                    <div class="photo">
                    Profile Photo
                    {{ form.photo }}
                    </div>
                    <br>
                    Profile
                    <br>
                    Name
                    {{ form.first_name }} 
                    {{ form.last_name }}
                    Gender
                    {{ form.gender }}
                    Nationality
                    {{ form.nationality }}
                    <br>
                    Email
                    {{ form.email }}
                    Address
                    {{ form.address}}
                    <br>
                    <br>
                    Education
                    <br>
                    University
                    {{ form.university}} 
                    Bachelor
                    {{ form.bachelor }}
                    Major
                    {{ form.major }}
                    <br>
                    StartDate
                    {{ form.start_study }}
                    EndDate
                    {{ form.end_study }}
                    <br>
                    <br>
                    Interest
                    {{ form.interest }}
                    <br>
                    Short Description
                    {{ form.short_description}}
                    <br>
                    <button id="submit-button" type="submit" value="POST"> SUBMIT </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</body>

</html>
 