<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  {% load static %}
  <meta charset="utf-8">
  <link rel="stylesheet"  href="{% static '/css/index.css' %}"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Resume List</h1>
</div>
  
<div>
    <div class="colume4">
      <h3></h3>
      {% for info in all_info %}
        <a href="{% url 'profile' info.id %}"><h4>{{info.first_name}} {{info.last_name}}</h4>
      {% endfor %}
    </div>  
</div>

</body>
</html>
