<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Profile Detail</title>
    <link rel="stylesheet"  href="{% static '/css/profile.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true"> 
</head>

<body style="background-color:pink;">
    <nav class="nav-bar">
    </nav>
    <div class="row">
        <div class="">
            <img src="{{ info.get_photo.url }}" width="350px" height="auto" />
        </div>

        <div class="">
            <h4 id="head-style"> Profile Detail </h4>
            <br>
            <div class="input">
                    Profile
                    <br>
                    Name
                    {{ info.first_name }} 
                    {{ info.last_name }}
                    Gender
                    {{ info.gender }}
                    Nationality
                    {{ info.nationality }}
                    <br>
                    Email
                    {{ info.email }}
                    Location
                    <br>
                    Address
                    {{ info.address}}
                    <br>
                    Interest
                    {{ info.interest }}
                    <br>
                    Short Description
                    {{ info.short_description}}
                    <br>
                    Education
                    <br>
                    University
                    {{ info.university}} 
                    Bachelor
                    {{ info.bachelor }}
                    Major
                    {{ info.major }}
                    <br>
                    StartDate
                    {{ info.start_study }}
                    EndDate
                    {{ info.end_study }}
         
        </div>
    </div>

</body>


</html>